.primary-button {
    display: flex;
    border: none;
    outline: none;
    background: transparent;
}

.primary-button__sircle {
    display: none;
}

.primary-button__sircle-active {
    left: -15px;
    top: -15px;
    position: absolute;
    z-index: 0;
    stroke-dasharray: 399px;
    stroke-dashoffset: 399px;
    animation: line-anim 2s ease forwards;
}

.primary-button__text {
    @include playfair;
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-text-color;
    font-size: 25px;
    z-index: 1;
}

.primary-button__arrow {
    margin-top: 15px;
    width: 50px;
    border-top: 2px $primary-text-color solid;
    margin-left: 20px;

    &::after {
        content: '';
        display: block;
        position: relative;
        width: 15px;
        border-top: 2px $primary-text-color solid;
        top: -6px;
        left: 36px;
        transform: rotate(-150deg);
    }
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
} 