.contacts {
    height: 600px;
}

.contacts__subblock {
    width: 400px;
}

.contacts__subbloc-tittle {
    margin-top: 40px;
}

.contacts__subbloc-socials {
    margin-left: -360px;
    margin-top: 40px;
}

.contacts__subblock-mail {
    margin-top: 40px;
    color: $secondary-text-color;

    span {
        color: $primary-text-color;
    }
}
