.contacts {
    height: 600px;
}

.contacts__subblock {
    width: 400px;
}

.contacts__subbloc-tittle {
    margin-top: 40px;
}

.contacts__subbloc-socials {
    margin-left: -360px;
    margin-top: 40px;
}

.contacts__subblock-mail {
    margin-top: 40px;
    color: $secondary-text-color;

    span {
        color: $primary-text-color;
    }
}

.contacts__main {
    width: 670px;
    height: 454px;
    margin-top: 100px;
    margin-left: 135px;
    margin-right: 10px;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), inset 4px 4px 8px rgba(0, 0, 0, 0.2);
}
