@import 'variables';

.contacts {
    margin-top: 100px;
    height: 550px;
    @media (max-width: $breakpoint-xl-min) {
        justify-content: flex-start;
    }

    &__main {
        @media (max-width: $breakpoint-xl-min) {
            width: 60%;
        }
    }

    &__subblock {
        width: 400px;
    }
}

.contacts__subblock-tittle {
    margin-top: -100px;

    @media (max-width: $breakpoint-xl-min) {
        width: 70%;
    }
}

.contacts__subblock-text {
    margin-top: 40px;
}

.contacts__subbloc-socials {
    margin-left: -30px;
    margin-top: 40px;
}

.contacts__subblock-mail {
    color: $secondary-text-color;

    span {
        color: $primary-text-color;
    }
}

.contacts__button {
    margin-left: 25px;
    height: 50px;
}