@import 'fonts';
@import 'variables';
@import 'buttons';

.hero {
    margin-bottom: 120px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.hero__welcom-subblock {
    width: 265px;
    margin-bottom: 20px;
    margin-top: -100px;
}

.hero__welcom-subblock-logo {
    margin-bottom: 45px;
    width: 70px;
}

.hero__welcom-subblock-photo {
    width: 300px;
}

.hero__welcom-block {
    width: 700px;
}

.welcom-block__main {
    margin-top: 36px;
    margin-bottom: 60px;
    line-height: 300%;
}

.welcom-block__main-text {
    text-align: center;
    padding: 15px 0;
}

.welcom-block__button {
    position: absolute;
    margin-left: 460px;
}



