.skills {
    height: 720px;
}

.skills__main {
    margin-top: 100px;
    margin-left: 145px;
}

.hard-skills__title {
    margin-bottom: 20px;
}

.hard-skills__button {
    margin-top: 15px;
    margin-left: 400px;
    position: absolute;
}

.skill {
    width: 600px;
    height: 60px;
    border-bottom: 1px $primary-text-color solid;
    margin: 25px auto;
}

.skill__header {
    font-size: 24px;
}

.skill__text {
    font-size: 16px;
}
